@tailwind base;
@tailwind components;
@tailwind utilities;

.image-container {
  width: 80%;

  margin-left: 10%;
  margin-right: 10%;
  columns: 4;
  column-gap: 1.5rem;
}
.image-box {
  margin-bottom: 1rem;
  break-inside: avoid;
}
.image-box .img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}
